{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Selamat Datang
{% endblock %}

{% block content %}

Terima kasih dan selamat datang dalam eksperimen ini. Eksperimen ini akan meminta Anda untuk memberikan keputusan secara
individu pada masing-masing pertanyaan. Pastikan bahwa Anda menyelesaikan eksperimen ini menggunakan laptop/PC Anda dalam
kondisi yang tenang dan tidak ada gangguan. Pastikan juga bahwa keputusan yang Anda berikan tidak dipengaruhi oleh orang
lain meskipun eksperimen ini dilakukan secara daring.
<br>
<br>
Anda akan mendapatkan instruksi eksperimen ini pada halaman berikutnya ataupun dari tautan yang telah kami berikan di email.
Bacalah isntruksi tersebut dengan seksama agar Anda memahami apa yang harus Anda lakukan. Silakan untuk bertanya kepada
peneliti melalui WA di https://wa.me/6281288106065 jika Anda belum memahami apa yang harus Anda lakukan di dalam eksperimen
ini.
<br>
<br>
Anda akan menerima sejumlah uang dari partisipasi Anda di dalam eksperimen ini. Jumlah uang yang Anda akan terima pada
eksperimen ini bergantung pada keputusan Anda sendiri. Penjelasan mengenai hal ini ada di halaman instruksi. Anda akan
diminta untuk mengirimkan nomor HP atau rekening bank yang Anda gunakan untuk pengiriman uang hasil dari eksperimen ini.
Keputusan peserta lain di dalam eksperimen ini tidak akan berpengaruh pada pembayaran Anda.
<br>
<br>
Kami menjamin kerahasiaan informasi pribadi Anda dengan tidak meminta Anda untuk mengisi biodata pribadi, kecuali nomor HP
atau nomor rekening untuk pembayaran. Kami juga tidak akan menyebarluaskan data keputusan yang Anda berikan di dalam eksperimen
ini kecuali hanya untuk kepentingan akademik.
<br>
<br>
Jika Anda telah memahami dan bersedia mengikuti rangkaian eksperimen ini, mohon untuk menekan tombol 'Lanjut'. Jika Anda
tidak berkenan untuk mengikuti eksperimen ini, silakan untuk menutup laman ini dan jangan mengaksesnya kembali atau memberikan
ke orang lain. Terima kasih.
<br>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}
