{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instruksi Eksperimen
{% endblock %}

{% block content %}

<br>
<br>
<h4><b>Video Tutorial Eksperimen</b></h4>
<br>
Silakan klik link dibawah ini untuk melihat tata cara memainkan eksperimen ini.
<!DOCTYPE html>
<html>
<head>
    <title>Video Youtube</title>
</head>
<body>
    <h1>Video Tutorial Eksperimen Preference Discovery</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eHE4K862d2o"
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</body>
</html>
<br>
<br>Tekan tombol 'Lanjut' jika Anda sudah memahami instruksi di atas.
<br>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}
