{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Laman Pembayaran
{% endblock %}

{% block content %}

    Terima kasih atas partisipasi Anda. Total poin yang Anda kumpulkan adalah sebanyak <b>{{payoff_selected}}.</b>
    <br>
    Perhitungan uang yang Anda dapatkan = <b>({{payoff_selected}} x Rp 1.000) + Rp 5.000 = Rp {{payoff_selected_rupiah}}</b>
    <br>
    Kami telah mencatat semua keputusan, isian kuesioner, dan uang yang Anda peroleh di dalam sistem kami.
    <br>
    Kami persilakan Anda untuk menutup laman ini dan kami akan mengirimkan pembayaran maksimal 24 jam dari penyelesaian
    eksperimen Anda. Anda juga dapat mengkonfirmasi pembayaran ini via WhatsApp di <a href="http://wa.me/6281288106065">http://wa.me/6281288106065<a> jika Anda merasa
    belum memperoleh pembayaran atau pembayaran tidak sesuai.
    <br>
    <br>
    Tim Peneliti
    <br>
    Yudistira Permana, Muhammad Ryan Sanjaya, Anindya Putri

{% endblock %}


