{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Terima Kasih
{% endblock %}

{% block content %}

    <br>
    Eksperimen sudah selesai.
    Kami persilakan Anda untuk menutup laman ini dan kami akan mengirimkan pembayaran maksimal 24 jam dari penyelesaian
    eksperimen Anda. Anda juga dapat mengkonfirmasi pembayaran ini via WhatsApp di <a href="http://wa.me/6281288106065">http://wa.me/6281288106065<a> jika Anda merasa
    belum memperoleh pembayaran atau pembayaran tidak sesuai.
    <br>
    <br>
    Tim Peneliti
    <br>
    Yudistira Permana, Muhammad Ryan Sanjaya, Anindya Putri
    <br>
    <br>


{% endblock %}